<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> 성적 입력하기 </h3>
<form method='POST'>
    {% csrf_token %}
    수업 명: <input type="text" name="title">
    학점:
    <select name="credit" size="1">
        <option value="3" selected>3학점</option>
        <option value="2" >2학점</option>
        <option value="1">1학점</option>
        <option value="0.5">0.5학점</option>
    </select>
    성적:
    <select name="grade" size="1">
        <option value="4.5" selected>A+</option>
        <option value="4.0" >A</option>
        <option value="3.5">B+</option>
        <option value="3.0">B</option>
        <option value="2.5">C+</option>
        <option value="2.0">C</option>
        <option value="1.5">D+</option>
        <option value="1.0">D</option>
        <option value="0">F</option>
    </select>
    <input type="submit" value="과목명 입력하기" />
</form>
</body>
</html>