<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3> 성적 입력하기 </h3>
<form method='POST'>
    {% csrf_token %}
    <input type="hidden" name="time" value="{{ post.time }}">
    수업 명: <input type="text" name="title">
    학점:
    <select name="credit" size="1">
        <option value="3" selected>3학점</option>
        <option value="2" >2학점</option>
        <option value="1">1학점</option>
        <option value="0.5">0.5학점</option>
    </select>
    성적:
    <select name="grade" size="1">
        <option value="4.5" selected>A+</option>
        <option value="4.0" >A</option>
        <option value="3.5">B+</option>
        <option value="3.0">B</option>
        <option value="2.5">C+</option>
        <option value="2.0">C</option>
        <option value="1.5">D+</option>
        <option value="1.0">D</option>
        <option value="0">F</option>
    </select>
    <input type="submit" value="입력하기"/>
</form><br/>
<h2> {{ post.time }} </h2>
<table border="2">
    <tr>
        <th>  수업명  </th>
        <th>  학점  </th>
        <th>  성적  </th>
    </tr>
    {% for credit in credits %}
        <tr>
            <td>{{ credit.title }}</td>
            <td>{{ credit.credit }}</td>
            <td>{{ credit.grade }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan = '2'>평점평균</td>
        <td>{{ score }}</td>
    </tr>
</table>
</body>
</html>